<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.usinasantafe.pru">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".PRUContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListaAmostraSoqueiraActivity"></activity>
        <activity android:name=".ListaQuestaoSoqueiraActivity" />
        <activity android:name=".ListaQuestaoPerdaActivity" />
        <activity android:name=".QuestaoPerdaActivity" />
        <activity android:name=".QuestaoSoqueiraActivity" />
        <activity
            android:name=".ui.login.QuestaoPerdaActivity"
            android:label="@string/title_activity_questao_perda" />
        <activity android:name=".ListaObsActivity" />
        <activity android:name=".ListaTurnoActivity" />
        <activity android:name=".EquipActivity" />
        <activity android:name=".ListaAmostraPerdaActivity" />
        <activity android:name=".QuestaoFitoActivity" />
        <activity android:name=".MsgPontoActivity" />
        <activity android:name=".ListaQuestaoFitoActivity" />
        <activity android:name=".ListaPontosActivity" />
        <activity android:name=".ListaCaracOrganActivity" />
        <activity android:name=".ListaOrganActivity" />
        <activity android:name=".TalhaoActivity" />
        <activity android:name=".SenhaActivity" />
        <activity
            android:name=".OSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuMotoMecActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaParadaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaFuncActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaFuncApontActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaAtividadeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FuncActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DescricaoOSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuInicialActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ReceberAlarme">
            <intent-filter>
                <action android:name="EXECUTAR_ALARME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>